@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div>

    <p>&nbsp;</p>
    <blockquote><p>We often get asked, “What makes Our Cafe different from other coffee shops?”</p></blockquote>
    <p>Our Café is about superior coffee and service. Each drink is made to order to the customer’s personal liking. We believe in good old fashioned drinks, we stir the sugar in our hot coffees; we melt the sugar in our iced coffees and mix them “bartender style” with a mixing cup. We use three different types of the highest quality chocolate in our frozen cocoa and heat the milk by hand when we make hot cocoa. We use real ingredients and the drinks are all hand made.</p>
    <blockquote><p>Coffee Break Cafe believes in eye contact and real smiles.</p></blockquote>
    <p>We buy our beans exclusively from four different certified Specialty Coffee roasters, micro-roasted in small batches several times per week, shipped to us immediately to ensure only the freshest quality and a variety that is truly unique. We always offer fair trade and organic choices.</p>
    <p>We support local artists and musicians by having live music and hanging local artist’s work on our walls. We offer free story time for the children and have free community meetings at our café’s. We have lots of free games and books for anybody to get cozy with anytime, we also offer free Wi-Fi.</p>
    <p><strong>Thank you for allowing us to do what we love.</strong></p>

</div>