@{
    ViewBag.Title = "The Coffee House";
}

<div class="jumbotron">
    <h1 class="navbar-static-top" style="color:coral;padding-bottom:30px;">The Coffee House</h1>
    <p class="lead" style="color:lightcoral;align-content:flex-end">Locals' Favorite.</p>
</div>

<div class="row">
    <div>
        <h2>Stop and sip our freshly brewed!</h2>
        <p>
            Low-key coffee shop with communal tables & outdoor benches pulling espresso & offering light snacks.
            <br />We roast our own coffee and source our own green coffee through our direct trade relationships with farmers.
        </p>
    </div>
</div>