
<div>
    <p><a> <img class="aligncenter size-full wp-image-1378 retinized" src="~/Content/Images/page_header_coffeemenu.jpg" alt="page_header_coffeemenu" width="986" height="180" sizes="(max-width: 986px) 100vw, 986px"></a></p>
    <h2>Unflavored</h2>
    <p>
        <strong>House Blend</strong><br>
        Roasted on the lighter side….Colombian, Sumatran and Central American Coffees.<br>
        <strong>French Roast</strong><br>
        Darkly roasted blend of Indonesian, African, and South American Coffees.<br>
        <strong>CBC’s Hypercaf</strong><br>
        The blend with almost 50% more caffeine, naturally!<br>
        <strong>Organic Peruvian</strong>
    </p>
    <h2>Everyday Flavors</h2>
    <p>Jamaican Me Crazy, Hazelnut, Toasted Coconut, French Vanilla, German Coffee Cake, Chocolate Frenzy, Rainforest Crunch, Chocolate Banana, Salted Caramel.</p>
    <p style="text-align: center;"><strong>Flavor of the Month for October: Cinnamon Butter Cookie!</strong></p>
    <p style="text-align: center;"><strong><img class="alignnone wp-image-1695 size-medium retinized" src="~/Content/Images/facebook_oct2018.png" alt="" width="300" height="300" sizes="(max-width: 300px) 100vw, 300px"></strong></p>
    <h2>Decaf House</h2>
    <p>Swiss water processed Colombian beans.</p>
    <h2>Decaf Flavors</h2>
    <p>German Coffee Cake, French Vanilla. We always carry decaf seasonal flavors and flavor of the month as well!</p>

</div>

<div>



    <p>
        <a href="http://www.coffeebreakcafe.net/cms/wp-content/uploads/2012/03/page_header_bakerymenu.jpg">
            <br>
        </a> <a href="http://www.coffeebreakcafe.net/cms/wp-content/uploads/2012/03/page_header_espresso.jpg"><img class="aligncenter size-full wp-image-1381 retinized" src="http://www.coffeebreakcafe.net/cms/wp-content/uploads/2012/03/page_header_espresso.jpg" alt="page_header_espresso" width="986" height="180" srcset="http://www.coffeebreakcafe.net/cms/wp-content/uploads/2012/03/page_header_espresso.jpg 986w, http://www.coffeebreakcafe.net/cms/wp-content/uploads/2012/03/page_header_espresso-300x55.jpg 300w" sizes="(max-width: 986px) 100vw, 986px"></a> <a href="http://www.coffeebreakcafe.net/cms/wp-content/uploads/2012/03/page_header_frozendrinks.jpg">
            <br>
        </a>
    </p>
    <p>
        Available hot or iced, regular or decaf, single shot or double shot!<br>
        <strong>Flavors:</strong> Caramel Mocha, Caramel Latte, Mocha, Salted Caramel Mocha
    </p>
    <h2>Latte/Cappuccino</h2>
    <p>Our true European espresso blend combined with velvety milk foam.</p>
    <h2>Americano</h2>
    <p>Espresso combined with hot water…a gourmet version of brewed coffee. Available hot &amp; iced.</p>
    <h2>Espresso</h2>
    <p>A concentrated extract of coffee with an intense flavor. We use a true European Blend of espresso. Also available as decaf. Single shot or double shot.</p>
    <h2>Extras</h2>
    <p>Get creative! Vanilla, Hazelnut, Caramel, Mint, Irish Cream, Cinnamon, Butterscotch, Coconut, Strawberry, Watermelon, Orange, Blueberry, Raspberry. Ghirardelli: Chocolate, Caramel, White Chocolate. Substitute Coconut Milk, Plain or Vanilla Soy Milk, Almond Milk.</p>
    <p><em><strong>Add a shot of expresso to any drink!</strong></em></p>







</div>