<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICoffeeShopService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50378/CoffeeShopService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICoffeeShopService"
                contract="CoffeeShopService.ICoffeeShopService" name="BasicHttpBinding_ICoffeeShopService" />
        </client>
    </system.serviceModel>

  <connectionStrings>
    <add name="CoffeeShopConnection"
         connectionString="Data Source=DESKTOP-U2U5BBH;Initial Catalog=master;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>